body {
    margin: 0;
      background-color: #e3e7eb;
      font-family: 'Poppins', sans-serif;
  }

form {
    width: 400px;
    gap: 8px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
}

form div {
    margin: 2px;
}

label {
    font-weight: 600;
    font-size: 16px;
}

h1 {
  text-align: center;
  display: block;
  font-size: 32px;
  font-weight: bold;
}

input, select, textarea {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border:none;
    padding: 10px 10px;
    margin-top: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

textarea {
    resize: none;
    font-family: Poppins, sans-serif;
}

.subject {
  width: 100%;
}

button {
    background-color: black;
    padding: 4px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submits {
    float: right;
    padding: 10px 32px;
    border-radius: 24px;
    margin: 10px 0px;
}

.submits:hover {
    background-color: orangered;
}