body {
    margin: 0;
      background-color: #e3e7eb;
      font-family: 'Poppins', sans-serif;
  }

  /* navbar */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f3f3;
    padding: 0 60px;
  }
  
  .nav-left ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-left a {
    text-decoration: none;
    color: black;
  }
  
  .nav-left ul li {
    margin-right: 30px;
    font-size: 18px;
  }

  .nav-left ul li img {
    margin: 0;
    vertical-align: middle;
  }

  .nav-left ul li a:hover {
    color: grey;
  }


  nav img {
    width: 49px;
    height: 33px;
    margin-right: 50px;
  }
  
  .nav-right a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
    background-color: black;
    padding: 6px 20px;
    border-radius: 6px;
    color: white;
  }
  
  .nav-right a:hover {
    background-color: orangered;
    color: white;
  }